:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
} 

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 30px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 20px;
  text-align: left;
  margin-bottom: 3px;
}

.form-group input {
  font-size: 20px;
  width: 100%;
  background-color: white;
  color: black;
}

.login-container, .register-container {
  background-color: #38363bcb;
  padding: 30px;
  border-radius: 8px;
}

.login-container h1, .register-container h1 {
  font-size: 40px;
  margin-bottom: 40px;
}

.login-container button, .register-container button {
  width: 100%;
  padding: 5px;
  margin-top: auto;
  font-size: 1.2em;
  background-color: #38363bcb;
  border: 1px solid white;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
}

.login-container button:hover, .register-container button:hover {
  cursor: pointer;
  background-color: white;
  color: black;
} 

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 300px;
  padding-bottom: 300px;
  margin-bottom: 40px;
  position: relative;
}

section::before {
  content: '';
  position: absolute;
  top: -50px;
  left: -50px;
  right: -50px;
  bottom: 0;
  background-image: url(./assets/movie-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.3;
  z-index: 0;
  pointer-events: none;
}

.search {
  position: relative;
}

.search input {
  font-size: 1.5rem;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 10px 10px 10px 50px;
  background-color: rgba(40, 40, 40, 0.5);
}

.movie-icon {
  top: 7px;
  left: 15px;
  font-size: 25px;
  position: absolute;
  color: gray;
  pointer-events: none;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  max-width: 60%;
  margin: 0 auto;
  padding: 0;
}

.movies {
  width: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.movie-poster {
  width: 100%;
  object-fit: cover;
  margin: 0;
  transition: transform 0.4s, filter 0.4s, z-index 0s 0.1s;
  z-index: 0;
  position: relative;
}

.cards .movies {
  transition: filter 0.4s;
}

.cards:has(.movie-poster:hover) .movie-poster:not(:hover) {
  filter: blur(3px) grayscale(50%); 
}

.movie-poster:hover {
  transform: rotateZ(-5deg) scale(1.15);
  z-index: 10;
  transition: transform 0.4s, filter 0.4s;
}

header {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 11;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 40px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  max-width: 58%;
  margin: 0 auto;
  padding: 0;
  position: static;
}

.home {
  text-decoration: none;
  color: white;
  margin-right: 20px;
}

.about {
  text-decoration: none;
  color: white;
}

.movie-detail {
  min-height: 100vh;
}

.movie-detail-image {
  display: flex;
  width: 100%;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
}

.movie-detail-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 58%;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 60px;
  max-width: 100%;
  padding-bottom: 20px;
}
